@model SchoolManagementSystem.Models.Route
@{
    ViewBag.Title = "EditRoute";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form action="/Admin/EditRoute" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" placeholder="Enter Route Name" value="@Model.Name" required />
    <input type="text" name="StartPoint" placeholder="Enter Start Point" value="@Model.StartPoint" required />
    <input type="text" name="EndPoint" placeholder="Enter End Point" value="@Model.EndPoint" required />
    <input type="submit" value="Edit Route" />

</form>
