@model List<SchoolManagementSystem.Models.InventoryCategory>
@{
    ViewBag.Title = "ListAllInventoryCategories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example thead th').each(function (i, v) {
            // var title = $('#example tfoot th').eq( $(this).index() ).text();
            var title = $(this).text();
            if (title != "Actions") {
                $(this).html(
                '<input type="text"  class="form-control" style="height:auto;width:auto" id="exampleInputName2" placeholder="' + title + '">'
                );
            }
            else {
                $(this).html('<div>' + title + '</div>');
            }
        });

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', table.column(colIdx).header()).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
        $('#print').on('click', function () {
            reverse();
            jQuery("#example").print({
                noPrintSelector: ".actions",
                // Add this on top
                //     append: "My Footer<br/>",
                // Add this at bottom
                //prepend: "<br/>jQueryScript.net",
                title: "Al Omam International School"
            });
            reverseBack();

        });
        function reverseBack() {
            $('#example thead th').each(function (i, v) {
                // var title = $('#example tfoot th').eq( $(this).index() ).text();
                var title = $(this).text();
                if (title != "Actions") {
                    $(this).html(
                    '<input type="text"  class="form-control" style="height:auto;width:auto" id="exampleInputName2" placeholder="' + title + ' search">'
                    );
                }
            });
        }
        function reverse() {
            $('#example thead th').each(function (i, v) {
                // var title = $('#example tfoot th').eq( $(this).index() ).text();
                var title = $(this).html();
                var input = $('#exampleInputName2').attr('placeholder');
                if (input != null) {
                    var input = input.replace('search', '');
                }
                //            debugger
                if (title != "Actions") {
                    $(this).html(input);
                }
            });
        }
    });

</script>
@section Scripts{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Content/DataTables/datatables.min.js"></script>
}
@section PageTitle{
    <div class="page-title">
        <h1>Inventory Categories</h1>
    </div>
}
<div class="box">
    <div class="box-title">
        <h3>List of Inventory Categories</h3>
    </div>
    <div class="box-content">
        <table class="table table-advance" id="example" style="height:inherit">
            <thead class="table-head">
                <tr>
                    <th>Category Name</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>

                        <td class="text-center" style="text-align:left">@Model[i].CategoryName</td>
                        <td class="actions">
                            <a class="btn btn-info  glyphicon glyphicon-pencil " href=@("/Admin/EditInventoryCategory/" + Model[i].Id)></a>
                            <a class="btn btn-warning  glyphicon glyphicon-trash " href=@("/Admin/DeleteInventoryCategory/" + Model[i].Id)></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
