@model List<SchoolManagementSystem.Models.Grade>
@{
    ViewBag.Title = "ListAllGrades";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example thead th').each(function (i, v) {
            // var title = $('#example tfoot th').eq( $(this).index() ).text();
            var title = $(this).text();
            if (title != "Actions") {
                $(this).html(
                '<input type="text"  class="form-control" style="height:auto" id="exampleInputName2" placeholder="' + title + '">'
                );
            }
            else {
                $(this).html('<div>' + title + '</div>');
            }
        });

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', table.column(colIdx).header()).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
        $('#print').on('click', function () {
            reverse();
            jQuery("#example").print({
                noPrintSelector: ".actions",
                // Add this on top
                //     append: "My Footer<br/>",
                // Add this at bottom
                //prepend: "<br/>jQueryScript.net",
                title: "Al Omam International School"
            });
            reverseBack();

        });
        function reverseBack() {
            $('#example thead th').each(function (i, v) {
                // var title = $('#example tfoot th').eq( $(this).index() ).text();
                var title = $(this).text();
                if (title != "Actions") {
                    $(this).html(
                    '<input type="text"  class="form-control" style="height:auto" id="exampleInputName2" placeholder="' + title + ' search">'
                    );
                }
            });
        }
        function reverse() {
            $('#example thead th').each(function (i, v) {
                // var title = $('#example tfoot th').eq( $(this).index() ).text();
                var title = $(this).html();
                var input = $('#exampleInputName2').attr('placeholder');
                if (input != null) {
                    var input = input.replace('search', '');
                }
                //            debugger
                if (title != "Actions") {
                    $(this).html(input);
                }
            });
        }
    });

</script>
@section Scripts{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Content/DataTables/datatables.min.js"></script>
}

@section PageTitle{
    <div class="page-title">
        <div>
            <h1>Grades </h1>
        </div>
    </div>
}
<div class="box">
    <div class="box-title">
        <h3>List of Grade</h3>
    </div>
    <div class="box-content">
        <div class="btn-toolbar pull-right clearfix">
            <div class="btn-group">
                <a class="btn btn-circle show-tooltip" title="Add new record" href="AddGrade"><i class="fa fa-plus"></i></a>
                @*<a class="btn btn-circle show-tooltip" title="Edit selected" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Delete selected" href="javascript:void(0)"><i class="fa fa-remove"></i></a>
                    </div>
                    <div class="btn-group">*@
                <a id="print" class="btn btn-circle show-tooltip" title="Print" href="javascript:void(0)"><i class="fa fa-print"></i></a>
                @*<a class="btn btn-circle show-tooltip" title="Export to PDF" href="javascript:void(0)"><i class="fa fa-file-pdf-o"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to Exel" href="javascript:void(0)"><i class="fa fa-file-excel-o"></i></a>
                    </div>
                    <div class="btn-group">*@
                <a class="btn btn-circle show-tooltip" title="Refresh" href="javascript:void(0)"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="clearfix" style="margin-top:10px"></div>
        <table class="table table-advance" id="example" style="height:inherit">
            <thead class="table-head">
                <tr>
                    <th>Grade</th>
                    <th>Maximum Students</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>

                        <td class="text-center">@Model[i].Name</td>
                        <td class="text-center">@Model[i].MaxStudents</td>
                        <td class="actions">
                            <a class="btn btn-success glyphicon glyphicon-ok-circle" href=@("/Admin/ViewAllClassesInGrade/" + Model[i].Id)></a>
                            <a class="btn btn-info  glyphicon glyphicon glyphicon-pencil bcc" style="width:40px;" href="@Url.Action("EditGrade", "Admin", new { @Id = Model[i].Id, @val = 349 })"></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

