
@{
    ViewBag.Title = "SearchStudentForBus";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section PageTitle{
    <div class="page-title">
        <h1>Search Student for Bus</h1>
    </div>
}
<div class="box">
    <div class="box-title">
        <h3> Allocat Bus </h3>
    </div>
    <div class="box-content">
        <form action="SearchStudentForBus" method="post">
            <input type="number" placeholder="Enter Student Id" name="Id" />
            <input type="text" placeholder="Enter Student Name" name="UserName" />
            <input type="text" placeholder="Enter Student Mobile Number" name="MobileNumber" />
            <input type="text" placeholder="Enter Student Father Name" name="FatherName" />
            <input type="text" placeholder="Enter Student Grade Name" name="Grade" />
            <input type="submit" class="btn btn-primary" value="Get Student" />
        </form>
    </div>
</div>
