@model List<SchoolManagementSystem.Models.StudentInvoice>
@{
    ViewBag.Title = "ShowAllStudentInvoices";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts{
    <link href="~/Content/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <script src="~/Content/assets/data-tables/jquery.dataTables.js"></script>
    <script src="~/Content/assets/data-tables/DT_bootstrap.js"></script>

    <script src="~/Scripts/jQuery.print.js"></script>
    <script src="~/Scripts/Custom/PrintExample.js"></script>
}
@section PageTitle{
    <div class="page-title">
        <h1>Invoices</h1>
    </div>
}

<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>Student Invoices</h3>
            </div>
            <div class="box-content">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>StudentName</th>
                            <th>Paid</th>
                            <th>Date</th>
                            <th class="actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].StudentName</td>
                                <td>@Model[i].Paid</td>
                                <td>@Model[i].Date</td>
                                <td class="actions">
                                    <a href="#" class="btn btn-primary">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
