@model SchoolManagementSystem.Models.Student
@{
    ViewBag.Title = "SubmitStudentFee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <div class="page-title">
        <h1>Submit Fee</h1>
    </div>
}
<div class="box">
    <div class="box-title">
        <h3>Search Student</h3>
    </div>
    <div class="box-content">
        <form action="SearchStudent" method="post">
            <div class="row-fluid">
                <input type="number" placeholder="Enter Student Id" name="Id" />
                <input type="text" placeholder="Enter Student Name" name="UserName" />
                <input type="text" placeholder="Enter Student Mobile Number" name="MobileNumber" />
                <input type="text" placeholder="Enter Student Father Name" name="FatherName" />
                <input type="text" placeholder="Enter Student Grade Name" name="Grade" />
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Get Student" />
            </div>
        </form>
    </div>
</div>
