@model SchoolManagementSystem.Models.Route
@{
    ViewBag.Title = "ViewRouteDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <label>Route Name</label> &nbsp; <p>@Model.Name</p> <br />
    <label>Route StartPoint</label> &nbsp; <p>@Model.StartPoint</p> <br />
    <label>Route StartPoint</label> &nbsp; <p>@Model.EndPoint</p>
    
</div>

