
/*span.caret{
    margin-top:0px !important;
}
span.anas-Caret.caret{
    margin-top:0px;
    margin-bottom: 8px;
    border-top-width: 4px !important;
}*/
/*.input-append .add-on, .input-prepend .add-on{
    height:30px !important;
}*/
.control-group label.control-label{
    padding-right:7px !important;
}

/*#example thead th input{
    width:auto;
}*/